<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laper Apps</title>
</head>
<body>
    <!-- NAVBAR -->
        <nav class="menu">
            <label> Restaurant Apps </label>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Favorite</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </nav>
    <!-- AKHIR NAVBAR -->
    
    <!-- Jumbotron -->
    <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 5, .5), rgba(0, 0, 5, .5)), url('images/heros/hero-image_2.jpg');">
        <div class="heroinner">
            <h1 class="herotitle">Restaurant Apps</h1>
            <p class="herosubtitle">Find the best restaurants only on the best websites.</p>
        </div>
    </div>
    <!-- Content -->
    <main id="content">
        <section class="content">
            <div class="latest">
                <h1>Explore Restaurant</h1>
                <div class="list" id="tes"></div>
            </div>
        </section>
    </main>
    <!-- Footer -->
    <footer>
        <p>Copyright © 2022 - Restaurant Apps</p>
    </footer>
</body>
</html>