@media screen and (max-width: 499px) {
	label {
		font-size: 25px;
		padding-left: 5px;
	}
}
@media screen and (min-width: 650px) {
	.list_item_content {
		padding: 16px 32px 32px 32px
	}
	.list_item_title {
		font-size: 18px
	}
	.list_item_desc {
		font-size: 14px
	}
}
@media screen and (min-width: 700px) {
	.list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 10px;
		grid-row-gap: 16px
	}
}
@media screen and (min-width: 1000px) {
	.list {
		display: grid;
		grid-template-columns: 2fr 2fr 2fr
	}
}
@media screen and (min-width: 1200px) {
	main {
		padding:0 100px
	}

	.list {
		display: grid;
		grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
		grid-column-gap: 50px;
		grid-row-gap: 16px
	}
}